datasets/downstream/Data
datasets/downstream/erp-based-brain-computer-interface-recordings-1.0.0
datasets/downstream/KaggleERN
datasets/downstream/PhysioNetP300
datasets/downstream/Raw_data
datasets/downstream/sleep_edf
datasets/downstream/CHB_MIT_Scalp_EEG/processed_data_old
datasets/pretrain
downstream_tueg/
downstream/log
downstream/logs
downstream/logs_bendr
downstream/logs_biot
downstream/logs_biot_old
downstream/logs_eegpt.ok
downstream/logs_labram
downstream/logs_liteegtransformer
downstream/logs_neurogpt
pretrain/logs
downstream/Data_process
downstream/lightning_logs
downstream/Modules/BIOT/EEG-PREST-16-channels.ckpt
downstream/Modules/BIOT/EEG-SHHS+PREST-18-channels.ckpt
downstream/Modules/BIOT/EEG-six-datasets-18-channels.ckpt
downstream/Modules/dn3
downstream/Modules/LaBraM
downstream/Modules/LitTransformer
downstream/Modules/models/encoder.pt
downstream/Modules/NeuroGPT

datasets/
*.npy
*.npz
*.edf

# 大文本
*.csv
*.txt

# PyCharm 配置
.idea/

# 虚拟环境
.venv/
env/

# Python 缓存
__pycache__/
*.pyc
*.pyo

# 日志
*.log
logs/
